volumes/app/storage/*
volumes/certbot/*
volumes/db/data/*
volumes/redis/data/*
volumes/weaviate/*
volumes/qdrant/*
./tidb/volumes/*
volumes/etcd/*
volumes/minio/*
volumes/milvus/*
volumes/chroma/*
volumes/opensearch/data/*
volumes/myscale/data/*
volumes/myscale/log/*
volumes/unstructured/*
volumes/pgvector/data/*
volumes/pgvecto_rs/data/*
volumes/couchbase/*
volumes/oceanbase/*
volumes/plugin_daemon/*
!volumes/oceanbase/init.d

nginx/conf.d/default.conf
nginx/ssl/*
!nginx/ssl/.gitkeep
middleware.env
docker-compose.override.yaml